.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.App > hr {
    width: 100%;
}

.page-header {
    display: flex;
    margin-top: 4px;
    justify-content: space-between;
    align-items: center;
}

.page-content {
    display: flex;
    flex-grow: 1;
    margin-bottom: 4px;
}

.page-content > .page-content__item.covers-container {
    max-width: 40%;
}

.page-content > .page-content__item.covers-container > img {
    max-width: 100%;
    height: auto;
}

.page-content > hr {
    margin: 0px 16px;
}

.page-content > .page-content__item.tags-container {
    max-width: 100%;
    flex-grow: 1;
}

@media (max-width: 768px) {
    .page-content {
        flex-direction: column-reverse;
    }

    .page-content > .page-content__item.covers-container {
        max-width: 100%;
        flex-grow: 1;
    }

    .page-content > hr {
        margin: 16px 0px;
    }
}