.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.App > hr {
    width: 100%;
}

.page-header {
    display: flex;
    margin-top: 4px;
    justify-content: space-between;
    align-items: center;
}

.page-content {
    display: flex;
    flex-grow: 1;
    margin-bottom: 4px;
}

.page-content > .page-content__item.covers-container {
    max-width: 25%;
}

.page-content > .page-content__item.covers-container > img {
    max-width: 100%;
    height: auto;
}

.page-content > hr {
    margin: 0px 16px;
}

.page-content > .page-content__item.tags-container {
    flex-grow: 1;
}
