@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap");

/* Set the default font and body padding */
body {
  margin: 0;
  padding: 0px 20px;
  font-family: "Robot Mono", monospace;
}
